body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.container {
    background: white;
    width: 400px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
